{% extends "base.html" %}

{% block title %}VPR: Pledge Your Support{% endblock %}
{% block description %}Make a one-time gift or become a sustaining member of VPR today. Your pledge powers public radio in Vermont.{% endblock %}


{% block content %}
<div id="pledge_page">
<div class="header container">
    <div class="row">
        <div class="col-xs-12">
        <h1>{{ page.header }}</h1>
        <div id="jumbo_content">
            {{ page.header_content }}
        </div>
        </div>
    </div>
</div>

<div id="second-panel">
    <div class="container">
        <div id="pledge-options" class="row">
            <div id="sustaining-div" class="col-sm-6">
                <div class="pledge-explanation">
                    <h2>Sustaining Membership</h4>
                    <p>Sustaining members make an automatic monthly contribution via bank account or credit card.</p>
                    <p>Your membership is always current!</p>
                    <p>Sustaining members are entered in all membership drive <a href="{{ url_for('prizes') }}">prize drawings</a>.</p>
                </div>
                <p id="sustain-btn" class=>
                    <a class="btn btn-primary btn-lg" href="https://donate.vpr.net/sustaining-member">Become A Sustaining Member</a>
                </p>
            </div>

            <div id="pledge-div" class="col-sm-6">
                <div class="pledge-explanation">
                    <h2>One-Time Pledge</h4>
                    <p>Make a one-time gift in any amount.</p>
                    <p>Renew your membership or make your first gift to VPR.</p>
                    <p>Contribute during a membership drive and you're entered in all <a href="{{ url_for('prizes') }}">drawings</a> during that drive.</p>
                </div>
                <p id="pledge-btn">
                    <a class="btn btn-primary btn-lg" href="https://donate.vpr.net/one-time-pledge">Make A Pledge Now</a>
                </p>
            </div>
        </div>
    </div>
</div>

<a id="paypal" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5116707">
<div>
    <h4><span class="glyphicon glyphicon-arrow-right"></span> Prefer PayPal? <span class="hidden-xs">Make your secure pledge using PayPal</span> <img src="{{ url_for('static', filename='img/paypal.gif') }}"></h4>
</div>
</a>

<div id="call-us">
    <p class="visible-xs"><span id="phone" class="glyphicon glyphicon-earphone"></span></p>
    <p><span class="hidden-xs" id="or-call">Pledge By Phone:</span>
    <a href="tel:1-800-639-6391">1-800-639-6391</a></p>
</div>

<div class="container" id="questions">
    <div class="row">
        <div class="col-xs-12">
            <h3>Questions?</h3>
            <p>Read more about our <a href="http://digital.vpr.net/support">membership levels</a> or <a href="http://www.vpr.net/inside_vpr/contact_us/?subject=Pledge+Question">contact us</a> if you have a question about supporting VPR.</p>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block jquery %}{% endblock %}
