{% extends "base.html" %}

{% block title %}VPR: Prize Drawings{% endblock %}
{% block description %}Pledge Drive prize drawings from Vermont Public Radio{% endblock %}

{% block content %}
<div id="prize_page">
    <div class="jumbotron header">
        <div class="container">
            <h1><a href="{{ url_for('pledge') }}">{{ page.header }}</a></h1>
            <div id="jumbo-content">
                {{ page.header_content }}
            </div>
        </div>
    </div>

    <div id="prize_panel">
        <div class="container">
            <div class="row">
        {% for prize in prizes %}
                <div class="col-sm-6">
                    <h3>{{ prize.title }}</h3>
                    <div class="row">
                        <div class="col-xs-9">
                            <p class="prize-description">{{ prize.description }}</p>
                            {% if prize.winners %}
                                {% if prize.date2 %}
                                <p class="prize-winners"><span class="glyphicon glyphicon-time"></span> {{ prize.date2 }} at {{ prize.time2 }}</p>
                                {% endif %}
                            <p class="prize-winners"><span class="glyphicon glyphicon-ok-sign"></span> {{ prize.winners }}</p>
                            {% else %}
                            <p class="prize-winners"><span class="glyphicon glyphicon-time"></span> {{ prize.date }} at {{ prize.time }}</p>
                                {% if prize.date2 %}
                                <p class="prize-winners"><span class="glyphicon glyphicon-time"></span> {{ prize.date2 }} at {{ prize.time2 }}</p>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-xs-3">
                            <img class="img-responsive" src="{{ prize.img }}" />
                        </div>
                    </div>
                </div>
        {% if loop.index is divisibleby 2 %}
            </div>
            <div class="row">
        {% endif %}
        {% endfor %}
            </div>
        </div>
        <div id="prize_explainer">
            <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p id="fine-print">When you <a href="{{ url_for('pledge') }}">make a pledge</a> during a Membership Drive you're entered to win all the prizes in that drive: the earlier you pledge, the more chances you'll have to win! Of course, sustaining members are entered into all membership drive drawings. Read the full <a href="http://digital.vpr.net/post/membership-drive-contest-rules">Contest Rules</a>, including how to enter without making a pledge.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block jquery %}{% endblock %}
