#underwriter-list {
    margin-top: 10px;
}

#map-canvas {
    border-radius: 6px;
    margin-top: 10px;
    height: 700px;
    width: 435px;
}

.jumbotron h1 {
    font-size: 31.5px;
    font-weight: 600;
}

.jumbotron p {
    line-height: 20px;
    margin-top: 10px;
}

h2 {
    font-size: 24px;
    line-height: 26px;
}

p {
    font-size: 18px;
    font-weight: 200;
}

div.underwriter {
    margin-bottom: 30px;
}

.jumbotron {
    padding: 40px;
}

#letters {
    font-size: 19px;
    margin-bottom: 24px;
}

@media (min-width: 768px) and (max-width: 979px) {
    #map-canvas {
        width: 350px;
    }
}

#directory {
    padding-top: 30px;
}

footer p {
    font-size: 12px;
}
